
backend/__pycache__/
backend/migrations/__pycache__/
merchant_backend/__pycache__/
merchant_backend/migrations/__pycache__/
utils/__pycache__/
woodworks/__pycache__/
.gitignore/
.env
backup.json
db.sqlite3
logs/
merchant_backend/
uploads/
ottoman.jpg